.triangle {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%
}


.square {
    width: 120px;
    height: 120px;
}